* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
  }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  header {
    width: 100%;
    position: fixed;
    background-color: #000000;
    z-index: 20;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    height: 80px;
  }
  
  .navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 750;
    border: 3px solid white;
    padding: 12px 46px;
    transition: background-color 0.3s, color 0.3s;
    
        &:hover{
            background-color: white;
            color: rgb(0, 0, 0);
        }
  }
  
  .navbar__menu_container {
    display: flex;
    gap: 20px;
  }

.hero {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

.content {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(14, 14, 14);
}

.footer .disclamer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    font-size: 13px;
    color: gray;
    border-top: 1px solid gray;
    background-color: rgb(14, 14, 14);
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 14, 14);
    width: 100%;
    padding: 48px 48px;
  }
  
  .about .semiContainer {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .about .semiContainer .left {
    flex: 2;
  }
  
  .about .semiContainer .left img {
    width: 100%;
    object-fit: cover;
  }
  

  .about .semiContainer .right {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .left h1 {
    font-weight: 650;
    font-size: 32px;
  }
  
  .left p {
    font-size: 15px;
    margin-right: 50px;
    text-align: justify;
  }

  .right-iframe {
    margin-left: 20px;
  }
  
  .semiContainer .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .semiContainer .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .semiContainer .right {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .carti{
    width: 100%;
  
  }

.content .views-row {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    margin-bottom: 3em;
    font-size: 1rem;
  }

.spotify{
    width: 100%;
    height: 352px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.youtube{
  width: 2080px;
  height: 800px;
}

.cta-button {
  background-color: #ffffff;
  color: black;
  border: none;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 1em;
  cursor: pointer;
  border-radius: 6px;
}
.cta-button:hover {
  background-color: #ff1e1e;
}